<html>
  <head><title>Hello World</title></head>
  <body>
    <a href="{% url 'posts' %}">
<!--   URL파일에서 posts라는 이름을 갖는 URL을 찾아 그 URL로 대체한다   -->
      Post List
    </a>

    <h1>
      {{ post.title }}
    </h1>

    <p>created: {{ post.created_at }}</p>
    <p>updated: {{ post.updated_at }}</p>
    <p>published: {{ post.published_at }}</p>
    <p>author: {{ post.author.username }}</p>
<!-- post 모델과 장고에서 기본적으로 제공하는 auth.User과 연결해 author 필드를 만들어 연결한 모델에 username을 가져와 표시한다   -->
    <p>{{ post.content | linebreaksbr }}</p>
  </body>
</html>
